.featured-products-container {
    position: relative;
    width: 18rem;
    /* Same as featured-products-item for alignment */
    height: 20rem;
    /* Same as featured-products-item for alignment */
}

.featured-products-item {
    width: 18rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.featured-products-image-wrapper {
    width: 14rem;
    height: 12rem;
}

.featured-products-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.featured-products-item-title {
    font-family: 'Oswald';
    font-size: 1.3rem;
    width: 80%;
}

.featured-products-item-title.dark {
    color: #fff;
}

.featured-products-item-button {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured-products-item-button span {
    color: #b08d8d;
    font-size: 0.9rem;
}

.featured-products-item-button.dark span {
    color: #fff;
}

.discount-wrapper {
    position: absolute;
    top: 0;
    right: -3.5rem;
    width: 5rem;
    height: 5rem;
    transform: rotate(360deg);
    /* Adjust as needed */
}

.discount-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: rotate(270deg);
}