.home-container {
    margin-top: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.background-image-container {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%; 
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color: white;
}

.quote-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin-left: 5%;
    color: white;
}

.quote-container.dark button {
    color: #fff;
    background-color: #212121;
}

.quote {
    font-family: 'Oswald';
    font-size: 3.5rem;
    margin-bottom: 30px;
    max-width: 35%;
    color: #3d3c3c;
}

.shop-now {
    font-family: 'Roboto';
    padding: 15px 20px;
    font-size: 1.3rem;
    color: #000;
    background-color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.shop-now:hover {
    background-color: #ccc;
}

.clock {
    border-width: 7px !important;
    border-color: #C9A771 !important;
    background-color: #95774c !important;
    opacity: 0.9;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-image: url(./wood-pattern.png);
}

.home-products-container-header {
    margin: 0;
    padding-top: 4rem;
    width: 100%;
    text-align: center;
    font-family: 'Oswald';
    font-size: 2.2rem;
    color: #3d3c3c;
}

.home-products-container.dark, .home-products-container-header.dark {
    background-color: #212121; /* Or the color you want for dark mode */
}

.home-products-container.dark {
    background-color: #212121;
}

.home-products-container-header.dark {
    color: white;
}

@media (max-width: 768px) {
    .quote {
        font-size: 1rem;
        width: 50%;
    }

    .shop-now {
        padding: 15px 30px;
        font-size: 1.25rem;
    }
}